/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/Wnck-3.0.gir
/Wnck-3.0.typelib
/_libs
/inlinepixbufs.h
/libwnck-3.la
/so_locations
/tags
/test-pager
/test-selector
/test-shutdown
/test-tasklist
/test-urgent
/test-wnck
/version.h
/wnck-enum-types.c
/wnck-enum-types.h
/wnck-urgency-monitor
/wnckprop
