/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gsf-scan.*
/html
/html-build.stamp
/html.stamp
/libwnck-decl-list.txt
/libwnck-decl.txt
/libwnck-undeclared.txt
/libwnck-undocumented.txt
/libwnck-unused.txt
/libwnck.args
/libwnck.hierarchy
/libwnck.interfaces
/libwnck.prerequisites
/libwnck.signals
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/libwnck-unused.sgml
/xml
